<div class="topnav">
    <div class="firstPart">
        <a routerLink="/home">iMusic</a>
        <a routerLink="/artists">Artists</a>
        <a routerLink="/songs">Songs</a>
        <a routerLink="/albums">Albums</a>
    </div>
    <div class="secondPart">
        <a routerLink="/shopping-cart" class="shopping-cart-topnavbar">
            <img class="shopping-cart-img" src="../../assets/SVG/shopping-cart.svg">
            <span class="number-of-items">{{cartService.getNumberOfItems()}}</span>
        </a>
        <a *ngIf="!authService.isAuthenticated()" routerLink="/login">Login</a>
        <a *ngIf="authService.isAuthenticated()" routerLink="/login" (click)="authService.logout()">Logout</a>
    </div>
</div>