.topnav {
    overflow: hidden;
    background-image: linear-gradient(-45deg, #4481eb 100%, #04befe 0%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: #4481eb;
  }

  .shopping-cart-topnavbar {
    background-color: #ddd;
    display: flex;
    flex-direction: row;
  }

  .number-of-items {
    color: #4481eb;
  }

  .shopping-cart-img{
    width: 20px;
  }