section {
    display: flex;
    flex-direction: column;
    width: 12.125rem;
    height: 16.125rem;
    padding: 1.25rem 1.25rem 1rem 0;
  }
  section .card-img {
    width: 11.625rem;
    height: 11.625rem;
    margin-bottom: 0.5rem;
    border-collapse: separate; 
    border-radius: 0.4rem;
  }
  
  section .card-img:hover {
    width: 12.4rem;
    height: 12.4rem;
    margin-bottom: 0.5rem;
  }
  
  section .card-description {
    display: flex;
    flex-direction: column;
  }
  section .card-description .card-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.24px;
    overflow: hidden;
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  section .card-description .card-title:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  section .card-description .card-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  section .card-description .card-subtitle {
    color: #b3b3b3;
    font-size: 12px;
    line-height: 18px;
    text-overflow: ellipsis;
    padding: 0;
    margin-top: 4px;
    white-space: nowrap;
    overflow: hidden;
  }

  .shopping-cart {
    width: 40px;
  }
  
  @media screen and (max-width: 800px){
    section{
      width: 11em;
      height: 13rem;
    }
    section .card-img {
      width: 10.5em;
      height: 10.5em;
    }
    section .card-img:hover {
      width: 10.8em;
      height: 10.8em;
    }
  }